h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}
body{
    background-color: rgb(94, 18, 18);
}
p{
    padding-left: 50px;
}
ul li{
    padding-left: 50px;
    list-style: none;
}